.products {
    width: 100%;
    flex-wrap: wrap;
    gap: 2%;
    
    .product-card {
        width: 23%;
        margin-bottom: 35PX;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        transition: transform 0.3s, box-shadow 0.3s;
        &::hover {
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
        }
        img {
            width: 100%;
            height:200PX ;
            border-top-left-radius: 5PX;
            border-top-right-radius: 5PX;

            transition: transform 0.6s ease;
            transform-style: preserve-3d;
        }
        &:hover img {
            transform: rotateY(180deg);
        }
        .text-content{
            background-color: var(--bgdark);
            padding-block: 5px;
            padding-bottom: 15px;
            border-bottom-right-radius:5px ;
            border-bottom-left-radius:5px ;
        }
        h4 {
            margin: 6px 0;
            font-size: 18px;
            color: var(--bg);
        }
        p {
            color: #999dad;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .price {
            color: var(--colorhover);
            font-weight:900;
            
            font-size: 16px;
        }
    }
}