.section1{
    background-color: var(--bg);
    .hero-section{
    height: calc(100vh - 67.6px);
    justify-content: space-between;
    .left{
        width: 50%;
        h1{
            font-size: 50px;
        }
        p{
            font-size: 20px;
            color: var(--bgdark);
            padding-block: 40px;
        }
        a{
            text-align: center;
            width: 30%;
            font-size: 20px;
            font-weight: 600;
            color: var(--fontw);
            background-color: var(--colorhover);
            padding: 15px 30px;
            border-radius: 25px;
            transition: 0.6s;
        }
            a:hover{
            color: var(--bg);
            background-color: var(--bgdark);
            }
        }
    }
}

    .hh
    {
        h1{
        color: var(--bgdark);
        font-size: 35px;
        margin-top: 20px;
        transition: 0.3s;
        &:hover{
            color: var(--colorhover);
        }
        }
    }

.section2{
    .slider{
        .content_image{
            width: 100%;
            
            button{
                width: 5%;
                font-size: 50px;
                color: var(--colorhover);
                height: 100%;
                text-align: center;
            }
            .btn1{
                float: left;
            }
            .btn2{
                float: right;
            }
            ul{
            width: 90%;
            gap: 50px;
            overflow: hidden;
            scroll-behavior: smooth;
            padding-block: 20px;
                li{
                    width: 140px;
                    height: 140px;
                    background-size:contain ;
                    border-radius: 50%;
                    img{
                        width: 150px;
                    }
    
                }
            } 
            ul::-webkit-scrollbar {
                display:none;
            } 
        }
    }
}


















