.section1{
    background-color: var(--bg);
    .hero-section{
    height: calc(100vh - 67.6px);
    justify-content: space-between;
    .left{
        width: 50%;
        h1{
            font-size: 50px;
        }
        p{
            font-size: 20px;
            color: var(--bgdark);
            padding-block: 40px;
        }
        a{
            text-align: center;
            width: 30%;
            font-size: 20px;
            font-weight: 600;
            color: var(--fontw);
            background-color: var(--colorhover);
            padding: 15px 30px;
            border-radius: 25px;
            transition: 0.6s;
        }
            a:hover{
            color: var(--bg);
            background-color: var(--bgdark);
            }
        }
    }
}

    .hh
    {
        h1{
        color: var(--bgdark);
        font-size: 35px;
        margin-top: 20px;
        transition: 0.3s;
        &:hover{
            color: var(--colorhover);
        }
        }
    }

.section2{
    .slider{
        .content_image{
            width: 100%;
            
            button{
                width: 5%;
                font-size: 50px;
                color: var(--colorhover);
                height: 100%;
                text-align: center;
            }
            .btn1{
                float: left;
            }
            .btn2{
                float: right;
            }
            ul{
            width: 90%;
            gap: 50px;
            overflow: hidden;
            scroll-behavior: smooth;
            padding-block: 20px;
                li{
                    width: 140px;
                    height: 140px;
                    background-size:contain ;
                    border-radius: 50%;
                    img{
                        width: 150px;
                    }
    
                }
            } 
            ul::-webkit-scrollbar {
                display:none;
            } 
        }
    }
}
.section4{
    .slider{
        .content_image{
            width: 100%;
            button{
                width: 5%;
                font-size: 50px;
                color: var(--colorhover);
                height: 100%;
                text-align: center;
            }
            .btn1{
                float: left;
            }
            .btn2{
                float: right;
            }
            .product{
            width: calc(90%);
            flex-wrap: nowrap;
            gap: 50px;
            overflow:auto;
            scroll-behavior: smooth;
            padding-block: 20px;
            .product-c{
                width: 230px;
                margin-bottom: 35PX;
                border-radius: 8px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
                text-align: center;
                transition: transform 0.3s, box-shadow 0.3s;
                &::hover {
                    transform: scale(1.05);
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
                }
                img {
                    width: 100%;
                    height:200PX ;
                    border-top-left-radius: 5PX;
                    border-top-right-radius: 5PX;
        
                    transition: transform 0.6s ease;
                    transform-style: preserve-3d;
                }
                &:hover img {
                    transform: rotateY(180deg);
                }
                .text-content{
                    background-color: var(--bgdark);
                    padding-block: 5px;
                    padding-bottom: 15px;
                    border-bottom-right-radius:5px ;
                    border-bottom-left-radius:5px ;
                }
                h4 {
                    margin: 6px 0;
                    font-size: 18px;
                    color: var(--bg);
                }
                p {
                    color: #999dad;
                    font-size: 14px;
                    margin-bottom: 5px;
                }
                .price {
                    color: var(--colorhover);
                    font-weight:900;
                    
                    font-size: 16px;
                }
                
                } 
            }
            .products::-webkit-scrollbar {
                display:none;
            } 
        
        }
    }
}
.section3{
    .h11{
        margin-bottom: 40px;
    }
    .images{
        width: 100%;
        overflow: hidden;
        margin-block: 45px;
        gap: 30px;
        .text-img{
            position: absolute;
            top: 40%;
            color: white;
            left: 30px;
            z-index: 99;
            h1{
                color: white;
            }
        }
        .div-img1{
            width: 60%;
            background-image: url('../laptop-with-colorful-screen-gray-background-3d-rendering.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
            height: 500px;
            z-index: 1;
            opacity: 0.9;
        }
        .div-img2{
            flex-direction: column;
            gap: 30px;
            width: 40%;
            .img2{
                background-image: url('../imgiphone/amine.jpg');
                background-size:cover;
                background-repeat: no-repeat;
                position: relative;
                width: calc(100% - 30px);
                height: 235px;
            }
            .img3{
                background-image: url('../imgiphone/amine1.jpg');
                background-size: cover;
                background-repeat: no-repeat;
                position: relative;
                width: calc(100% - 30px);
                height: 235px;
            }
        }
    }
}

















