.cont{
    display: flex;
    margin-block: 90px;
    /* Appliquer l'effet hover au survol de h3 */
    .sidebar{
        width: 20%;
        h3{
            margin-bottom: 10px;
            font-size: 18px;
            color: rgb(7, 6, 6);
            border-bottom: 2px solid transparent;
            padding-bottom: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            /* Ajouter l'effet hover sur h3 */
            &:hover {
                color: #9b59b6; /* Couleur mauve pour l'effet hover */
                border-bottom: 2px solid #9b59b6; /* Border mauve */
                background-color: #333; /* Arrière-plan noir */
                padding: 10px; /* Effet de mouvement */
                border-radius: 5px; /* Coins arrondis pour plus de style */
                }
        ul {
            margin: 10px 0;
            li {
                
                a {
                    text-decoration: none;
                    color: #666;
                    font-size: 14px;
                    transition: color 0.3s, border-bottom 0.3s;
                    border-bottom: 2px solid transparent;
                    
                    &:hover {
                        color: #000;
                    }
                    &:active {
                        color: #000;
                        border-bottom: 2px solid #9b59b6; /* Mauve */
                        transition: color 0.3s, border-bottom 0.3s;
                    }
                }
            }
            }
        }
    }
}
