.cont{
    display: flex;
    margin-block: 90px;
    /* Appliquer l'effet hover au survol de h3 */
    .sidebar{
        width: 20%;
        h3{
            margin-bottom: 10px;
            font-size: 18px;
            color: rgb(7, 6, 6);
            border-bottom: 2px solid transparent;
            padding-bottom: 5px;
            cursor: pointer;
            transition: all 0.3s ease;
            /* Ajouter l'effet hover sur h3 */
            &:hover {
                color: #9b59b6; /* Couleur mauve pour l'effet hover */
                border-bottom: 2px solid #9b59b6; /* Border mauve */
                background-color: #333; /* Arrière-plan noir */
                padding: 10px; /* Effet de mouvement */
                border-radius: 5px; /* Coins arrondis pour plus de style */
                }
        ul {
            margin: 10px 0;
            li {
                
                a {
                    text-decoration: none;
                    color: #666;
                    font-size: 14px;
                    transition: color 0.3s, border-bottom 0.3s;
                    border-bottom: 2px solid transparent;
                    
                    &:hover {
                        color: #000;
                    }
                    &:active {
                        color: #000;
                        border-bottom: 2px solid #9b59b6; /* Mauve */
                        transition: color 0.3s, border-bottom 0.3s;
                    }
                }
            }
            }
        }
    }
}
.products {
    width: 100%;
    flex-wrap: wrap;
    gap: 2%;
    padding-left: 20px;
    .product-card {
        width: 23%;
        margin-bottom: 35PX;
        border-radius: 8px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
        text-align: center;
        
        transition: transform 0.3s, box-shadow 0.3s;

        &::hover {
            transform: scale(1.05);
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.7);
        }
        img {
            width: 100%;
            height:200PX ;
            border-top-left-radius: 5PX;
            border-top-right-radius: 5PX;

            transition: transform 0.6s ease;
            transform-style: preserve-3d;
        }
        &:hover img {
            transform: rotateY(180deg);
        }
        .text-content{
            background-color: var(--bgdark);
            padding-block: 5px;
            padding-bottom: 15px;
            border-bottom-right-radius:5px ;
            border-bottom-left-radius:5px ;
        }
        h4 {
            margin: 6px 0;
            font-size: 18px;
            color: var(--bg);
        }
        p {
            color: #999dad;
            font-size: 14px;
            margin-bottom: 5px;
        }
        .price {
            color: var(--colorhover);
            font-weight:900;
            
            font-size: 16px;
        }
    }
}